@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css");

body {
  font-family: "NanumBarunGothic", sans-serif;
  background-color: #fafafa;
  line-height: 1.6em;
}

.container {
  padding-top: 55px;
  text-align: center;
  background: #fafafa;
  height: 100vh;
  box-sizing: border-box;
}

input {
  outline: none;
}

div.box {
  margin: 8px;
  padding: 1em;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 2em;
  -webkit-box-shadow: 0px 3px 0px -1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 3px 0px -1px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 0px -1px rgba(0, 0, 0, 0.08);
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}