footer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  padding: 7px 0 0 0;
}

.container-home .box {
  margin: 0 10px;
}

.container-home .box .meal-label {
  font-size: 12px;
  line-height: 1.4em;
}

.container-home .box .title {
  font-weight: bold;
  text-align: left;
  border-bottom: 1px #f2f2f2 solid;
  padding: 0 0 10px 0;
}

.container-home .box .title img {
  float: right;
  margin-top: 5px;
}

.meal-thumb-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.meal-thumb {
  width: 30%;
}

.meal-thumb .inner {
  width: 100%;
  background-color: #fafafa;
  border-radius: 2px;
  padding: 1.8em 0;
  min-height: 96px;
  margin-bottom: 0.5em;
  box-sizing: border-box;
}

.meal-thumb .breakfast {
  background-size: cover;
  background-image: url("/images/meal_thumb.png");
}

.meal-thumb .lunch {
  background-size: cover;
  background-image: url("/images/meal_thumb_2.jpeg");
}

.meal-thumb img {
  width: 30px;
  opacity: 0.2;
}
