/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #f86767;
  background-image: none;
  color: #fff;
  cursor: pointer;
  border-radius: 21px;
  font-size: 1.2em;
  background-image: url("http://localhost:3000/images/arrow.png");
  background-repeat: no-repeat;
  background-position: right 20px center;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
}
select {
  padding: 0.6em 3em 0.6em 1.5em;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 1em auto;
  border-radius: 2em;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

p.desc {
  font-size: 14px;
  color: #666;
}

.container-setting img {
  width: 32px;
}
