.square-crop {
  width: 375px;
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: block;
}

.photo-frame {
}

.select-photo {
  width: 100%;
  background-color: #666;
}

input.food {
  box-shadow: 0 1px 0 0 #b5b5b5;
  border: 0;
  width: 7em;
  margin: 2em 0 0.4em 0;
  text-align: center;
  font-size: 2em;
  padding: 0 0 0.2em 0;
  background: transparent;
}

p.helper-text {
  font-size: 12px;
  color: #666;
}

.camera-button {
  width: 41px;
  height: 41px;
  background-color: #cacaca;
  padding: 10px;
  border-radius: 100%;
  margin: 90px auto;
}

.camera-button .inner {
  background-color: #fafafa;
  border-radius: 100%;
  width: 1px;
  height: 1px;
  padding: 20px;
}

.sweet-loading {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 83%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
