.blink {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.hide {
  display: none;
}

.timer-graphic {
  margin: 2em 2em 3em 2em;
}