@font-face {
  font-family: Norwester;
  src: url("http://localhost:3000/font/norwester.otf") format("opentype");
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 14px 0;
  text-align: center;
  font-size: 1.3em;
  background: #fff;
  font-family: Norwester, sans-serif;
  border-bottom: 1px #eaeaea solid;
}

a {
  color: inherit;
  text-decoration: none;
}